@media (max-width: 520px) {
    .logo {
        max-width: 50px !important;
    }
    .logo img {
        padding: 0px;
    }
    .mobile-menu-toggler .fa-bars{
        font-size: 25px;
    }
    .fa-user-edit{
        font-size: 25px !important;
    }
}